@import 'style2sillones.css';

/***********************************
************************************
HEADER
************************************
***********************************/

.header {
  background: url('../img/limpieza-de-colchones.png') no-repeat fixed;
  background-size: cover;
  min-height: 650px;
  position: relative;
}

.banner-info {
    padding-top: 140px;
    color: rgb(245, 201, 8);
  }
  
h1.bnr-title {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2.bnr-sub-title {
  font-size: 45px;
  text-transform: uppercase;
  padding: 20px 0px;
  font-weight: 700;
}


